html {
  scroll-behavior: smooth;
}

.topbutton {
  width: 100%;
  position: bottom;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  margin: autos;
}
